body {
    background-image: url("https://img.freepik.com/premium-vector/camping-pattern-hiking-family-camp-natural-wood-scout-outdoor-adventure-sketch-outline-seamless-texture_53562-10854.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }